form,
.choseInscription {
    border: 3px solid var(--orange-color);
    border-radius: 10%;
    margin-inline: auto;
    margin-block: 1.1em;
    padding: 2em;
}

legend,
h1 {
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

form {
    label {
        margin-top: 1em;
    }
    
    button {
        margin-top: 1em;
        padding-block: 0.5em;
        background-color: var(--orange-color);
        border-radius: 10%;
        align-self: center;
    }
}


.mainConnexion,
.connexionForm,
.inscriptionFormFa,
.inscriptionFormAsso {
    display: flex;
    flex-direction: column;
}


.mainConnexion {
    justify-content: space-around;
    max-height: 82em;
}

.connexionForm  {
    button {
        width: 50%;
    }

    .changePassword {
        margin-bottom: 1em;
        align-self: self-start;
    }
}

.separator {
    border: 1px solid var(--orange-color);
    margin-inline: auto;
    width: 80%;
}

.inscriptionFormFa,
.inscriptionFormAsso {
    #confimPassword{
        margin-bottom: 1em;
    }

    button {
        margin-inline: auto;
        width: 40%;
    }
}

.choseInscription {
    width: 80%;
    padding-bottom: 0.5em;

    li {
        list-style: outside;
        text-align: center;
        width: fit-content;
        margin: auto;

        button {
            margin-block: 1em;
            padding-block: 0.5em;
            background-color: var(--orange-color);
            border-radius: 10%;
        }
    }
}

@media screen and (min-width: 326px) {
    .inscriptionFormFa,
    .inscriptionFormAsso {
        width: 80%;
    }
}

@media screen and (min-width: 690px) {
    .mainConnexion {

    height: 72em;
    }
    
    .inscriptionFormFa {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 14;
        gap: 0.2em;
    
        legend{
            grid-column: 1/3;
            grid-row: 1;
        }
    
        #labelLastname {
            grid-column: 1/2;
            grid-row: 2;
        }
    
        #lastname {
            grid-column: 1/2;
            grid-row: 3;
        }
    
        #labelFirstname {
            grid-column: 2/3;
            grid-row: 2;
        }
    
        #firstname {
            grid-column: 2/3;
            grid-row: 3;
        }
    
        #labelAddress{
            grid-column: 1/2;
            grid-row: 4;
        }
    
        #address{
            grid-column: 1/3;
            grid-row: 5;
        }
    
        #labelPostalCode{
            grid-column: 1/2;
            grid-row: 6;
        }
    
        #postalCode{
            grid-column: 1/2;
            grid-row: 7;
        }
    
        #labelCity{
            grid-column: 2/3;
            grid-row: 6;
        }
    
        #city{
            grid-column: 2/3;
            grid-row: 7;
        }
    
        #labelPhone{
            grid-column: 1/2;
            grid-row: 8;
        }
    
        #phone{
            grid-column: 1/2;
            grid-row: 9;
        }
    
        #labelEmail{
            grid-column: 2/3;
            grid-row: 8;
        }
    
        #email{
            grid-column: 2/3;
            grid-row: 9;
        }
    
        #labelPassword {
            grid-column: 1/2;
            grid-row: 10;
        }
    
        #password {
            grid-column: 1/3;
            grid-row: 11;
        }
    
        #labelConfimPassword{
            grid-column: 1/3;
            grid-row: 12;
        }
    
        #confimPassword{
            grid-column: 1/3;
            grid-row: 13;
        }
    
        button {
            grid-column: 1/3;
            grid-row: 14;
        }
    }

    .inscriptionFormAsso {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 16;
        gap: 0.2em;
    
        legend{
            grid-column: 1/3;
            grid-row: 1;
        }

        #labelNameAssociation {
            grid-column: 1/2;
            grid-row: 2;
        }

        #nameAssociation {
            grid-column: 1/2;
            grid-row: 3;
        }

        #labelNameRepresentative {
            grid-column: 2/3;
            grid-row: 2;
        }

        #nameRepresentative {
            grid-column: 2/3;
            grid-row: 3;
        }

        #labelAddress {
            grid-column: 1/2;
            grid-row: 4;
        }

        #address {
            grid-column: 1/3;
            grid-row: 5;
        }

        #labelPostalCode {
            grid-column: 1/2;
            grid-row: 6;
        }

        #postalCode {
            grid-column: 1/2;
            grid-row: 7;
        }

        #labelCity {
            grid-column: 2/3;
            grid-row: 6;
        }

        #city {
            grid-column: 2/3;
            grid-row: 7;
        }

        #labelPhone {
            grid-column: 1/2;
            grid-row: 8;
        }

        #phone {
            grid-column: 1/2;
            grid-row: 9;
        }

        #labelEmail {
            grid-column: 2/3;
            grid-row: 8;
        }

        #email {
            grid-column: 2/3;
            grid-row: 9;
        }

        #labelNumberRna {
            grid-column: 1/3;
            grid-row: 10;
        }

        #numberRna {
            grid-column: 1/3;
            grid-row: 11;
        }

        #labelPassword {
            grid-column: 1/3;
            grid-row: 12;
        }

        #password {
            grid-column: 1/3;
            grid-row: 13;
        }

        #labelConfimPassword {
            grid-column: 1/3;
            grid-row: 14;
        }

        #confimPassword {
            grid-column: 1/3;
            grid-row: 15;
        }

        button {
            grid-column: 1/3;
            grid-row: 16;
        }
    }

   

    .inscriptionFormFa,
    .inscriptionFormAsso {
        width: auto;
    }
}

@media screen and (min-width: 1024px) {
    form {
        margin-block: auto;
    }

    .mainConnexion {
        flex-direction: row;
        justify-content: space-around;
        height: 50em;
    }

    .separator {
        height: 80%;
        width: 0;
        margin-block: auto;
        margin-inline: 0;
    }

    .choseInscription {
        height: fit-content;
        width: auto;
        padding-block: 2em;
        margin: auto;
    }
}