form,
.choseInscription {
    border: 3px solid var(--orange-color);
    border-radius: 10px;
    margin-inline: auto;
    margin-block: 1.1em;
}

legend,
h1 {
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

form {
    label {
        margin-top: 1em;
    }
    
    button {
        margin-top: 1em;
        padding-block: 0.5em;
        background-color: var(--orange-color);
        border-radius: 10px;
        align-self: center;
    }
}


.mainConnexion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.separator {
    border: 1px solid var(--orange-color);
    margin-inline: auto;
    width: 80%;
}

.choseInscription.close {
    display: none;
}

.choseInscription {
    width: 80%;
    padding: 2em 2em 0.5em;

    li {
        list-style: outside;
        text-align: center;
        width: fit-content;
        margin: auto;

        button {
            margin-block: 1em;
            padding-block: 0.5em;
            background-color: var(--orange-color);
            border-radius: 10%;
        }
    }
}

@media screen and (min-width: 690px) {
    .mainConnexion {
        max-height: 72em;
    }
}

@media screen and (min-width: 1024px) {
    form {
        margin-block: auto;
    }

    .mainConnexion {
        flex-direction: row;
        justify-content: space-around;
        height: 50em;
    }

    .separator {
        height: 80%;
        width: 0;
        margin-block: auto;
        margin-inline: 0;
    }

    .choseInscription {
        height: fit-content;
        width: auto;
        padding-block: 2em;
        margin: auto;
    }
}