.inscriptionFormFa{
    display: none;
    padding: 0 2em 1em 2em;

    #confimPassword{
        margin-bottom: 1em;
    }

    button {
        margin-inline: auto;
        width: 40%;
    }

    .closeButton {
        background-color: white;
        margin-right: -0.5em;
        padding-block: 0 1em;
        width: fit-content;
    }
}

.inscriptionFormFa.active {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 326px) {
    .inscriptionFormFa {
        width: 80%;
    }
}

@media screen and (min-width: 690px) {
    .inscriptionFormFa.active {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(15, auto);
        gap: 0.2em;

        .closeButton{
            grid-column: 2/3;
            grid-row: 1;
        }

        legend{
            grid-column: 1/3;
            grid-row: 2;
        }

        #labelLastnameFa {
            grid-column: 1/2;
            grid-row: 3;
        }

        #lastnameFa {
            grid-column: 1/2;
            grid-row: 4;
        }

        #labelFirstnameFa {
            grid-column: 2/3;
            grid-row: 3;
        }

        #firstnameFa {
            grid-column: 2/3;
            grid-row: 4;
        }

        #labelAddressFa{
            grid-column: 1/2;
            grid-row: 5;
        }

        #addressFa{
            grid-column: 1/3;
            grid-row: 6;
        }

        #labelPostalCodeFa{
            grid-column: 1/2;
            grid-row: 7;
        }

        #postalCodeFa{
            grid-column: 1/2;
            grid-row: 8;
        }

        #labelCityFa{
            grid-column: 2/3;
            grid-row: 7;
        }

        #cityFa{
            grid-column: 2/3;
            grid-row: 8;
        }

        #labelPhoneFa{
            grid-column: 1/2;
            grid-row: 9;
        }

        #phoneFa{
            grid-column: 1/2;
            grid-row: 10;
        }

        #labelEmailFa{
            grid-column: 2/3;
            grid-row: 9;
        }

        #emailFa{
            grid-column: 2/3;
            grid-row: 10;
        }

        #labelPasswordFa {
            grid-column: 1/2;
            grid-row: 11;
        }

        #passwordFa {
            grid-column: 1/3;
            grid-row: 12;
        }

        #labelConfimPasswordFa{
            grid-column: 1/3;
            grid-row: 13;
        }

        #confimPasswordFa{
            grid-column: 1/3;
            grid-row: 14;
        }

        button {
            grid-column: 1/3;
            grid-row: 15;
        }
    }

    .inscriptionFormFa {
        width: auto;
    }
}