.inscriptionFormAsso {
    display: none;
    padding: 0 2em 1em 2em;

    #confimPassword{
        margin-bottom: 1em;
    }

    button {
        margin-inline: auto;
        width: 40%;
    }

    .closeButton {
        background-color: white;
        margin-right: -0.5em;
        padding-block: 0 1em;
        width: fit-content;
    }

    .errorFields {
        color: red;
        font-weight: bold;
        border-color: red;

    }

    .divInputPassword {
        -webkit-text-security: disc !important;
        padding-block: 1px;
        padding-inline: 2px;
        border: 1px solid var(--black-color);
        border-radius: 5px;

        .infoInput {
            -webkit-text-security: none;
            padding-block: 0;
            padding-inline: 0;
            border: none;
            width: 90%;
        }
    }
}

#firstnameRepresentativeAsso {
    margin-top: 0.4em;
}

.inscriptionFormAsso.active {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 326px) {
    .inscriptionFormAsso {
        width: 80%;
    }
}

@media screen and (min-width: 690px) {
    .inscriptionFormAsso.active {
        display: grid;
        grid-template-columns: 1frf 1fr;
        grid-template-rows: repeat(17, auto);
        gap: 0.2em;
    
        .closeButton{
            grid-column: 2/3;
            grid-row: 1;
        }

        legend{
            grid-column: 1/3;
            grid-row: 2;
        }

        #labelNameAssociationAsso {
            grid-column: 1/2;
            grid-row: 3;
        }

        #nameAssociationAsso {
            grid-column: 1/2;
            grid-row: 4;
        }

        #labelNumberRnaAsso {
            grid-column: 2/3;
            grid-row: 3;
        }

        #numberRnaAsso {
            grid-column: 2/3;
            grid-row: 4;
        }

        #labelLastnameRepresentativeAsso {
            grid-column: 1/3;
            grid-row: 5;
        }

        #lastnameRepresentativeAsso {
            grid-column: 1/2;
            grid-row: 6;
        }

        #labelFirstnameRepresentativeAsso {
            grid-column: 2/3;
            grid-row: 5;
        }

        #firstnameRepresentativeAsso {
            grid-column: 2/3;
            grid-row: 6;
            margin-top: 0;
        }

        #labelAddressAsso {
            grid-column: 1/2;
            grid-row: 7;
        }

        #addressAsso {
            grid-column: 1/3;
            grid-row: 8;
        }

        #labelPostalCodeAsso {
            grid-column: 1/2;
            grid-row: 9;
        }

        #postalCodeAsso {
            grid-column: 1/2;
            grid-row: 10;
        }

        #labelCityAsso {
            grid-column: 2/3;
            grid-row: 9;
        }

        #cityAsso {
            grid-column: 2/3;
            grid-row: 10;
        }

        #labelPhoneAsso {
            grid-column: 1/2;
            grid-row: 11;
        }

        #phoneAsso {
            grid-column: 1/2;
            grid-row: 12;
        }

        #labelEmailAsso {
            grid-column: 2/3;
            grid-row: 11;
        }

        #emailAsso {
            grid-column: 2/3;
            grid-row: 12;
        }

        #labelPasswordAsso {
            grid-column: 1/3;
            grid-row: 13;
        }

        #divInputPasswordAsso {
            grid-column: 1/3;
            grid-row: 14;
        }

        #labelConfimPasswordAsso {
            grid-column: 1/3;
            grid-row: 15;
        }

        #divInputConfirmPasswordAsso {
            grid-column: 1/3;
            grid-row: 16;
        }

        button {
            grid-column: 1/3;
            grid-row: 17;
        }
    }

    .inscriptionFormAsso {
        width: auto;
    }
}