header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.headerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    background: linear-gradient( var(--peche-color), var(--orange-color));

    img {
        width: 6rem;
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
    
        .line {
            width: 35px;
            height: 5px;
            background-color: var(--black-color);
            border-radius: 20px;
        }
    }

    .buttonsHeaderApp {
        display: flex;
        flex-direction: row;
        align-items: center;

        .headerConnectionLink {
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration-line: none;
            color:var(--black-color);
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 8px;
            background-color: var(--orange-color);
            margin-inline: 0.3em;
            height: 50%;

            img {
                height: 1.8em;
                width: 1.8em;
                border-radius: 50%;
            }
            p {
                text-align: center;
            }
        }
    
        .headerConnectionLink:hover {
            background-color: var(--primary-color);
        }
    }
}