.formsPassword {
    border: 2px solid var(--green-color);
    margin: 1rem;
    padding: 1em;

    .infoSubtitle {
        h4 {
            text-align: center;
            font-size: 1.3em;
            margin-bottom: 0.4em;
        }
    }

    .infoFieldContainer {
        display: flex;
        flex-direction: column;

        .infoLabel {
            margin-top: 0.4em;
        }

        .divInputPassword {
            -webkit-text-security: disc !important;
            padding-block: 1px;
            padding-inline: 2px;
            border: 1px solid var(--black-color);
            border-radius: 5px;

            .infoInput {
                -webkit-text-security: none;
                padding-block: 0;
                padding-inline: 0;
                border: none;
                width: 90%;
            }
        }
    }

    .buttonsWrapPassword {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 90%;
            height: 1.5em;
            background-color: var(--green-color);
            border-radius: 18px;
            padding-block: 0;
        }
    }
}