.filterNavMobile {
    background-color: var(--orange-color);
    border-top: 1px solid var(--black-color);
    text-decoration-line: none;
    color: var(--black-color);
    font-size: 1.5em;
    display: block;
    text-align: center;
}

.titleMain {
    margin-block: 3%;
    margin-left: 3%;
    font-size: 2em;
}

@media screen and (min-width: 740px) {
    .mainDestop {
        display: flex;
        flex-direction: row;
    }

    .listAndTitle {
        width: 80%;
    }
}
