.footer {
    background: linear-gradient( var(--orange-color),  var(--peche-color));
    font-size: 0.9em;
    
        .articlelink {
            padding: 1rem;
        }
    

    p {
        text-align: center;
    }
}

@media screen and (min-width: 480px) {
    .sectionLink {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    

}