.mainSpacePage {

    min-height: 70vh;

    .btnNavProfilMobile{
        background-color: var(--orange-color);
        border-top: 1px solid var(--black-color);
        text-decoration-line: none;
        color: var(--black-color);
        font-size: 1.3em;
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 740px) {
    .mainSpacePage {
        display: flex;
        flex-direction: row;
    }

    .sectionMainSpacePage {
        width: 70%;
    }
}

@media screen and (min-width: 800px) {
    .sectionMainSpacePage {
        width: 75%;
    }
}

@media screen and (min-width: 1020px) {
    .sectionMainSpacePage {
        width: 80%;
    }
} 